
@font-face {
  font-family: "WorkSans-Medium";
  src: 
    url('../font/WorkSans-Medium.woff') format('woff'),
    url('../font/WorkSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: "WorkSans-Bold";
  src: 
    url('../font/WorkSans-Bold.woff') format('woff'),
    url('../font/WorkSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: "WorkSans-Regular";
  src: 
    url('../font/WorkSans-Regular.woff') format('woff'),
    url('../font/WorkSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: "WorkSans-SemiBold";
  src: 
    url('../font/WorkSans-SemiBold.woff') format('woff'),
    url('../font/WorkSans-SemiBold.woff2') format('woff2');
}

