$nav-size-text: 1.25rem;
$brown: #373737;
$gray: #7B7B7B;
$bg-color: #FFF7F4;
$orange: #FF5300;
$bg-color-tags: #FFF7F4;
$title-section: 2.4rem;  //39px
$card-title: 1.5rem; //24px
$card-little-text: 12px;
$card-text: 1rem;  //16px
$card-number: #EFEFEF;
$card-number-size: 64px;
$color-reviews-card: #fff;


